<?xml version="1.0"?>
<!-- 
Ajay jain
Last updated: July 23, 2014
ARSENL Lab, Naval Postgraduate School
-->
<launch>
    <!-- <node name="camera" pkg="usb_cam" type="usb_cam_node" output="screen">
        <param name="video_device" value="/dev/video1" />
        <param name="image_width" value="1280" />
        <param name="image_height" value="720" />
        <param name="pixel_format" value="yuyv" />
        <param name="camera_frame_id" value="webcam" />
    </node> -->

    <node name="uvc_camera_node" pkg="uvc_camera" type="uvc_camera_node" output="screen">
    	<param name="frame" value="camera" />
    	<param name="device" value="/dev/video1" />
    </node>
</launch>