<?xml version="1.0"?>
<!-- 
Ajay jain
July 1, 2014
ARSENL Lab, Naval Postgraduate School
-->
<launch>
	<group ns="robot_0">
		<node pkg="husky_pursuit" type="pure_seek.py" name="seek_node" output="screen">
			<remap from="/cmd_vel" to="/robot1/husky/cmd_vel"/>
		</node>
	</group>

	<!-- <node pkg="husky_pursuit" type="wander.py" name="wander_node">
		<remap from="/cmd_vel" to="/robot2/husky/cmd_vel"/>
	</node>-->

	<group ns="robot_1">
		<node pkg="husky_pursuit" type="serpentine.py" name="wander_node">
			<remap from="/cmd_vel" to="/robot2/husky/cmd_vel"/>
		</node>
	</group>
</launch>