<?xml version="1.0"?>
<!-- 
Ajay jain
July 1, 2014
ARSENL Lab, Naval Postgraduate School
-->
<launch>
	<include file="$(find husky_teleop)/launch/teleop.launch">
		<arg name="cmd_topic" value="/robot1/husky/cmd_vel"/>
	</include>

	<!-- <include file="$(find husky_pursuit)/launch/leap_teleop.launch">
		<arg name="cmd_topic" value="/robot2/husky/cmd_vel"/>
	</include> -->

	<include file="$(find husky_pursuit)/launch/teleop/key_teleop.launch">
		<arg name="cmd_topic" value="/robot2/husky/cmd_vel"/>
	</include>
</launch>