<?xml version="1.0"?>
<!-- 
Ajay jain
July 1, 2014
ARSENL Lab, Naval Postgraduate School
-->
<launch>
	<arg name="robot_name" default="mobile_base" />
    <arg name="init_pose" default="$(optenv ROBOT_INITIAL_POSE)" />

    <!-- Spawn robot in gazebo -->
    <node name="spawn_husky_model" pkg="gazebo_ros" type="spawn_model" 
		args="$(arg init_pose) -unpause -urdf -param robot_description -model $(arg robot_name)"/>

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
        <param name="publish_frequency" type="double" value="30.0" />
    </node>

</launch>