<?xml version="1.0"?>
<!-- 
Ajay jain
July 1, 2014
ARSENL Lab, Naval Postgraduate School
-->
<launch>
	<param name="/use_sim_time" value="true" />

    <include file="$(find gazebo_ros)/launch/empty_world.launch"/>
    
	<include file="$(find husky_pursuit)/launch/simul/robots.launch"/>


	<!-- 
	  <node name="gazebo" pkg="gazebo" type="gazebo" 
	   args="$(find your_pkg)/worlds/your.world" respawn="false" output="screen" />

	  <node name="gazebo_gui" pkg="gazebo" type="gui" respawn="false" output="screen"/>
	 -->
</launch>