<?xml version="1.0"?>
<!-- 
Ajay jain
July 21, 2014
ARSENL Lab, Naval Postgraduate School
-->
<launch>
	#### 0: ROBOT - ROSCORE ON MASTER ###########
	<!-- 
	ssh ros@$ROS_MASTER_IP
	roscore
	-->

	#### 1: ARBITER - ROBOT COMPUTER CONFIGURATIONS ###########
	<include file="$(find husky_pursuit)/launch/game/husky.machine" />

	#### 2: ARBITER - ARENA SETUP ###########
	<include file="$(find husky_pursuit)/launch/game/arbiter.launch" /> # local

	#### 3/4: ROBOT - ROBOT LAUNCHES ###########
	<node machine="robot_0" pkg="tf" type="static_transform_publisher" name="base_link_to_laser" args="0.25 0 0.25 0 0 0 /robot_0/base_link /robot_0/laser 40" />

<!-- 	<include file="$(find husky_pursuit)/launch/game/robot.launch">
		<arg name="own_num" value="0" />
		<arg name="target_num" value="1" />
		<arg name="machine" value="robot_0" />
	</include> -->
</launch>