<?xml version="1.0"?>
<!-- 
Ajay jain
July 21, 2014
ARSENL Lab, Naval Postgraduate School
-->
<launch>
	#### 0: ROBOT - ROSCORE ON MASTER ###########
	<!-- 
	ssh ros@$ROS_MASTER_IP
	roscore
 	-->

	#### 1: ARBITER - ROBOT COMPUTER CONFIGURATIONS ###########
	<include file="$(find husky_pursuit)/launch/game/husky.machine" />

	#### 2: ARBITER - ARENA SETUP ###########
	<include file="$(find husky_pursuit)/launch/game/arbiter.launch" /> # local

	#### 3/4: ROBOT - ROBOT LAUNCHES ###########
	<include machine="robot_0" file="$(find husky_pursuit)/launch/game/robot.launch" />
	<!-- <include machine="robot_1" file="$(find husky_pursuit)/launch/game/robot.launch" /> -->

	#### 5: ARBITER - RELATIVE PUBS ###########
	<include file="$(find husky_pursuit)/launch/game/tf_to_relative.launch" /> # local

	#### 6/7: ROBOT - BEHAVIORS ###########
	<include machine="robot_0" file="$(find husky_pursuit)/launch/game/behaviors.launch">
		<param name="serpentine" value="false" />
		<param name="linear_vel_max" value=".1" />
		<param name="angular_vel_max" value=".4" />
	</include>
	<!-- <include machine="robot_1" file="$(find husky_pursuit)/launch/game/behaviors.launch">
		<param name="flee" value="false" />
		<param name="own_num" value="1" />
		<param name="target_num" value="0" />
	</include> -->
</launch>