<?xml version="1.0"?>
<!-- 
Ajay jain
July 21, 2014
ARSENL Lab, Naval Postgraduate School
-->
<launch>
	#### 0: ROBOT - ROSCORE ON MASTER ###########
	<!-- 
	ssh ros@$ROS_MASTER_IP
	roscore
	-->

	#### 1: ARBITER - ROBOT COMPUTER CONFIGURATIONS ###########
	<include file="$(find husky_pursuit)/launch/game/husky.machine" />

	#### 2: ARBITER - ARENA SETUP ###########
	<include file="$(find husky_pursuit)/launch/game/arbiter.launch" /> # local

	#### 3: ROBOT - ROBOT LAUNCHES ###########
	<include file="$(find husky_pursuit)/launch/game/robot.launch">
		<arg name="machine" value="robot_0" />
	</include>

	<include file="$(find husky_pursuit)/launch/game/robot.launch">
		<arg name="own_num" value="1" />
		<arg name="target_num" value="0" />
		<arg name="machine" value="robot_1" />
	</include>

	#### 4: ROBOTS - RELATIVE PUBS ###########
	<include file="$(find husky_pursuit)/launch/game/tf_to_relative.launch" />

	#### 5: ROBOT - SAFTEY CONTROLLERS ###########
	<!-- <include file="$(find husky_pursuit)/launch/game/safety_controller.launch" /> -->

	#### 6: ROBOT - BEHAVIORS ###########
	<include file="$(find husky_pursuit)/launch/game/behaviors.launch">
		<!-- <arg name="seek" value="true" /> -->
		<arg name="linear_vel_max" value=".5" />
		<arg name="angular_vel_max" value=".2" />
		
		<arg name="own_num" value="0" />
		<arg name="target_num" value="1" />
		<arg name="machine" value="robot_0" />
	</include>

	<include file="$(find husky_pursuit)/launch/game/behaviors.launch">
		<!-- <arg name="flee" value="true" /> -->
		<arg name="linear_vel_max" value=".3" />
		<arg name="angular_vel_max" value=".4" />
		
		<arg name="own_num" value="1" />
		<arg name="target_num" value="0" />
		<arg name="machine" value="robot_1" />
	</include>

	#### 7: ROBOT - GUNS ###########
	<include file="$(find husky_pursuit)/launch/game/gun.launch">
		<arg name="machine" value="robot_0" />
		<arg name="relative_topic" value="/robot_0/relative1" />
	</include>
	<include file="$(find husky_pursuit)/launch/game/gun.launch">
		<arg name="machine" value="robot_1" />
		<arg name="relative_topic" value="/robot_1/relative0" />
	</include>
</launch>