<?xml version="1.0"?>
<!-- 
Ajay jain
July 18, 2014
ARSENL Lab, Naval Postgraduate School
-->
<launch>
	<group ns="robot_0">
		<node machine="robot_0" pkg="husky_pursuit" type="tf_to_relative.py" name="tf_to_relative_01">
			<param name="own_tf_prefix" value="robot_0" />
			<param name="target_tf_prefix" value="robot_1" />
			<remap from="target_relative" to="relative1" />
		</node>
	</group>

	<group ns="robot_1">
		<node machine="robot_1" pkg="husky_pursuit" type="tf_to_relative.py" name="tf_to_relative_10">
			<param name="own_tf_prefix" value="robot_1" />
			<param name="target_tf_prefix" value="robot_0" />
			<remap from="target_relative" to="relative0" />
		</node>
	</group>
</launch>