<?xml version="1.0"?>
<!-- 
Ajay jain
July 14, 2014
ARSENL Lab, Naval Postgraduate School
-->
<launch>
	<!-- No namespace here as we will share this description. 
		 Access with slash at the beginning -->
    <!-- <param name="robot_description" command="$(find xacro)/xacro.py '$(find husky_description)/urdf/base.urdf.xacro'" /> -->
	<include file="$(find husky_description)/launch/description.launch" />

	#### world -> odom links. Configure based on initial robot positions ###########
	<node pkg="tf" type="static_transform_publisher" name="world_odom0_link" args="1 0 0 0 0 0 /world /robot_0/odom 100" />
	<node pkg="tf" type="static_transform_publisher" name="world_odom1_link" args="5 0 0 0 0 0 /world /robot_1/odom 100" />

	<node pkg="rviz" type="rviz" name="arbiter_rviz" args="-d $(find husky_pursuit)/rviz/stage.rviz" />
</launch>