<!-- Local workstation computur. For visualization -->
<launch>
	<include file="$(find husky_pursuit)/launch/husky_viz.launch" />

	<!-- camera view. The camera display in rviz is not working for now -->
	<node name="image_view" pkg="image_view" type="image_view">
		<!-- <param name="image" value="/camera/image_raw" /> -->
		<remap from="image" to="/camera/image_raw"/>
	</node>

	<node name="rqt_graph" pkg="rqt_graph" type="rqt_graph" />
</launch>