<?xml version="1.0"?>
<!-- 
Ajay jain
July 7, 2014
ARSENL Lab, Naval Postgraduate School
-->
<launch>
  	<group ns="robot_0">
			<!-- <param name="angular_vel_max" value="1" /> -->
			<!-- <param name="extrapolation_time" value="5" /> -->
		<node pkg="husky_pursuit" type="evade.py" name="evade_node" output="screen">
			<remap from="/cmd_vel" to="/robot_0/cmd_vel"/>
			<remap from="/own_odom" to="/robot_0/odom"/>
			<remap from="/target_odom" to="/robot_2/odom"/>

			<param name="linear_vel_max" value=".6" />
			<param name="extrapolate_with_constant_time" type="boolean" value="false" />


			<param name="own_tf_prefix" value="/robot_0" />
			<param name="target_tf_prefix" value="/robot_2" />
		</node>

		<!-- <node pkg="husky_pursuit" type="pure_flee.py" name="flee_node">
			<remap from="/cmd_vel" to="/robot_0/cmd_vel"/>
			<param name="linear_vel_max" value="0.6" />
			<param name="angular_vel_max" value="1" />
			<param name="own_tf_prefix" value="/robot_0" />
			<param name="target_tf_prefix" value="/robot_2" />
		</node> -->
	</group>



  	<group ns="robot_1">
		<!-- <include file="$(find husky_teleop)/launch/teleop.launch">
			<arg name="cmd_topic" value="/robot_1/cmd_vel"/>
		</include> -->
		<node pkg="husky_pursuit" type="offset_pursue.py" name="pursue_node">
			<remap from="/cmd_vel" to="/robot_1/cmd_vel"/>
			<remap from="/own_odom" to="/robot_1/odom"/>
			<remap from="/target_odom" to="/robot_0/odom"/>

			<param name="linear_vel_max" value=".6" />
			<param name="angular_vel_max" value="1" />
			<param name="own_tf_prefix" value="/robot_1" />
			<param name="target_tf_prefix" value="/robot_2" />
			<param name="target_tf_prefix" value="/robot_2" />

			<param name="pursuit_offset" value="5" />
		</node>
	</group>

  	<group ns="robot_2">
		<node pkg="husky_pursuit" type="wander.py" name="wander_node" >
			<remap from="/cmd_vel" to="/robot_2/cmd_vel"/>
			<param name="linear_vel_max" value="0.8" />
			<param name="angular_vel_max" value=".6" />
		</node>
	</group>
</launch>