<?xml version="1.0"?>
<!-- 
Ajay jain
September 7, 2014
ARSENL Lab, Naval Postgraduate School
-->
<launch>
	<arg name="max_lin_0" />
	<arg name="max_ang_0" />
	<arg name="max_lin_1" />
	<arg name="max_ang_1" />
	<arg name="shots_file" />

	<param name="/use_sim_time" value="true" />

	<node pkg="stage_ros" type="stageros" name="testbed_stage_two_robots" args="$(find husky_pursuit)/worlds/testbed.world" />

	<node pkg="tf" type="static_transform_publisher" name="world_odom0_link" args="4 0 0 0 0 0 /world /robot_0/odom 100" />

	<node pkg="tf" type="static_transform_publisher" name="world_odom1_link" args="0 0 0 0 0 0 /world /robot_1/odom 100" />

	<node pkg="husky_pursuit" type="tf_to_relative.py" name="tf_to_relative_01">
		<param name="own_tf_prefix" value="robot_0" />
		<param name="target_tf_prefix" value="robot_1" />
		<remap from="target_relative" to="/robot_0/relative1" />
	</node>

	<node pkg="husky_pursuit" type="tf_to_relative.py" name="tf_to_relative_10">
		<param name="own_tf_prefix" value="robot_1" />
		<param name="target_tf_prefix" value="robot_0" />
		<remap from="target_relative" to="/robot_1/relative0" />
	</node>

	<node pkg="husky_pursuit" type="safety_controller.py" name="$(anon safety_controller)">
		<remap from="base_scan" to="/robot_0/base_scan" />
		<remap from="cmd_vel" to="/robot_0/cmd_vel" />
	</node>

	<node pkg="husky_pursuit" type="safety_controller.py" name="$(anon safety_controller)">
		<remap from="base_scan" to="/robot_1/base_scan" />
		<remap from="cmd_vel" to="/robot_1/cmd_vel" />
	</node>





  	<group ns="robot_1">
		<!-- <include file="$(find husky_teleop)/launch/teleop.launch">
			<arg name="cmd_topic" value="/robot_1/cmd_vel"/>
		</include> -->
		<node pkg="husky_pursuit" type="pursue.py" name="pursue_node">
			<remap from="/cmd_vel" to="/robot_1/cmd_vel"/>
			<remap from="/own_odom" to="/robot_1/odom"/>
			<remap from="/target_odom" to="/robot_0/odom"/>

			<param name="linear_vel_max" value="$(arg max_lin_1)" />
			<param name="angular_vel_max" value="$(arg max_ang_1)" />
			<param name="own_tf_prefix" value="/robot_1" />
			<param name="target_tf_prefix" value="/robot_0" />
		</node>

		<node pkg="husky_pursuit" type="shooter_logger.py" name="shooter_logger" args="_shots_file:=$(arg shots_file)">
			<remap from="/target_relative" to="/robot_1/relative0" />
		</node>
	</group>

	
</launch>